body {
    width: 100%;
    height: 100%;
}
div.body-background {
    background-image: url('images/sunhing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    z-index: -1;
}